{% extends 'package_monitor/base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}

{% block details %}

    <span class="pull-right">        
        Last updated {{ updated_at|naturaltime|default_if_none:"never" }}&nbsp;&nbsp;
        <a class="btn btn-success" 
            title="Refresh data now"
            href="{% url 'package_monitor:update_distributions' %}">
            <i class="fas fa-sync"></i>
        </a>            
    </span>

    <ul class="nav nav-tabs">
        <li role="presentation" class="{% if filter != 'current' and filter != 'outdated' %}active{% endif %}">
            <a href="{% url 'package_monitor:index' %}?filter=all">All&nbsp;({{ all_count|default:"-" }})</a>
        </li>
        <li role="presentation" class="{% if filter == 'current' %}active{% endif %}">
            <a href="{% url 'package_monitor:index' %}?filter=current">Current&nbsp;({{ current_count|default:"-" }})</a>
        </li>
        <li role="presentation" class="{% if filter == 'outdated' %}active{% endif %}">
            <a href="{% url 'package_monitor:index' %}?filter=outdated">Update available&nbsp;({{ outdated_count|default:"-" }})</a>
        </li>
    </ul>

    <div class="panel panel-default">
        <div class="panel-body" style="min-height: 100px;">  
            <table id="tab_package_list" class="table">
                <thead>
                    <tr>                    
                        <th>Name</th>                        
                        <th>Installed Version</th>
                        <th>Latest Stable</th>
                        <th>Description</th>
                        <th>Django Apps</th>
                    </tr>
                </thead>                
            </table>
            <br>
            <p class="text-muted">
                {% if show_all_packages %}
                    Shows all known distribution packages.
                {% else %}
                    Shows only distribution packages that contain an installed Django app.
                    {% if include_packages %}
                        In addition these packages are shown: {{ include_packages|join:", " }}
                    {% endif%}
                {% endif%}
                <br>
                The latest stable of a package is retrieved from PyPI. If a package does not have a latest stable, then it is proberbly not available via PyPI.
            </p>
        </div>        
    </div>
        
{% endblock details %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}    
    <script type="text/javascript" src="{% static 'js/filterDropDown/filterDropDown.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            /* dataTable def */
            $('#tab_package_list').DataTable({
                ajax: {
                    url: '{% url "package_monitor:package_list_data" %}?filter={{ filter }}',
                    dataSrc: '',
                    cache: false
                },

                columns: [
                    { data: 'name_link' },
                    { data: 'current' },
                    { data: 'latest' },
                    { data: 'description' },
                    { data: 'apps' },

                    { data: 'is_outdated_str' },
                    { data: 'has_apps_str' }
                ],

                ordering: false,
                info: false,

                columnDefs: [
                    { "sortable": false, "targets": [0, 1, 2, 3, 4] },
                    { "visible": false, "targets": [5, 6] }
                ],

                paging: false,

                rowCallback: function (row, data, index) {
                    if (data['is_outdated']) {
                        $(row).addClass('warning');
                        $(row).find('td:eq(2)').css('font-weight', 'bold')
                    }
                }

            });
        });
    </script>
{% endblock extra_javascript %}

{% block extra_css %}    
    {% include 'bundles/datatables-css.html' %}
    
    <link rel="stylesheet" href="{% static 'package_monitor/package_list.css' %}" type="text/css" media="screen">    
{% endblock extra_css %}

{% block extra_script %}    
{% endblock extra_script %}
